{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
    <!-- Header -->

    <div>
      {# <img src="{{ absolute_url(asset ('img/logo.png')) }}" alt=""> #}
      <h2>INMOANUNCIOS</h2>
    </div>

{% endblock %}
