<!-- Navigation -->
<nav>
    <a href="{{ path('home') }}">Inicio</a>
     <a href="">Login</a>
     <a href="">Register</a>
     <a href="">Publicar</a>
     <select>
        <option value="es"><img src="{{ absolute_url(asset ('img/logo.png')) }}" alt="es-flag" style="width:10px;"><span>ES</span></option>
        <option>CA</option>
        <option>EN</option>
     </select>
    {# <a href="{{ path('provincia_list') }}">Provincias</a> #}
</nav>
